{% if context == "index" %}
  {% set title %}
    {% with link_text=article.title %}
      {% include "includes/article/permalink.html" %}
    {% endwith %}
  {% endset %}
{% elif context == "article" %}
  {% set title = article.title %}
{% endif %}

{% if context == "index" %}
  {% set body = article.summary %}
{% elif context == "article" %}
  {% set body = article.content %}
{% endif %}

{% set heading %}
  <h1 class="noanchor">{{ title }}</h1>
{% endset %}

<article>
  {% if article.metadata.subheading %}
    <hgroup>
      {{ heading }}
      {% if "subheading" in FORMATTED_FIELDS %}
        {{ article.metadata.subheading }}
      {% else %}
        <p>{{ article.metadata.subheading|join(" ") }}</p>
      {% endif %}
    </hgroup>
  {% else %}
    {{ heading }}
  {% endif %}

  {{ body }}

  {% include "includes/article/footer.html" %}
</article>
