{% if context in ["index", "archives"] %}
  {% set title %}
    {% with link_text=article.title %}
      {% include "includes/article/permalink.html" %}
    {% endwith %}
  {% endset %}
{% elif context == "article" %}
  {% set title = article.title %}
{% endif %}

{% if context in ["index", "article"] %}
  {% set header_tag = "h1" %}
{% elif context == "archives" %}
  {% set header_tag = "h2" %}
{% endif %}

{% if context == "index" %}
  {% set body = article.summary %}
{% elif context == "article" %}
  {% set body = article.content %}
{% endif %}

{% set header %}
  <{{ header_tag }} class="noanchor">{{ title }}</{{ header_tag }}>
{% endset %}

<article>
  {% if context != "archives" and article.metadata.subheading %}
    <hgroup>
      {{ header }}
      {% if "subheading" in FORMATTED_FIELDS %}
        {{ article.metadata.subheading }}
      {% else %}
        <p>{{ article.metadata.subheading|join(" ") }}</p>
      {% endif %}
    </hgroup>
  {% else %}
    {{ header }}
  {% endif %}

  {% if body %}{{ body }}{% endif %}

  {% include "includes/article/footer.html" %}
</article>
