{% if SIDECAR_ARTICLE_FOOTER is not defined %}
  {% set SIDECAR_ARTICLE_FOOTER = ["AUTHORS", "TIME", "SOURCE", "TAGS"] %}
{% endif %}

{% set footer_items = [] %}

{% for item in SIDECAR_ARTICLE_FOOTER %}
  {% if item == "AUTHORS" %}
    {% set footer_item %}{% include "includes/article/authors.html" %}{% endset %}
    {% if footer_item %}
      {{ footer_items.append(footer_item) or "" }}
    {% endif %}
  {% elif item == "TIME" %}
    {% set footer_item %}{% include "includes/article/time.html" %}{% endset %}
    {% if footer_item %}
      {{ footer_items.append(footer_item) or "" }}
    {% endif %}
  {% elif item == "CATEGORY" %}
    {% set footer_item %}{% include "includes/article/category.html" %}{% endset %}
    {% if footer_item %}
      {{ footer_items.append(footer_item) or "" }}
    {% endif %}
  {% elif item == "TAGS" %}
    {% set footer_item %}{% include "includes/article/tags.html" %}{% endset %}
    {% if footer_item %}
      {{ footer_items.append(footer_item) or "" }}
    {% endif %}
  {% elif item == "SOURCE" %}
    {% set footer_item %}{% include "includes/article/source.html" %}{% endset %}
    {% if footer_item %}
      {{ footer_items.append(footer_item) or "" }}
    {% endif %}
  {% else %}
    {{ footer_items.append(item) or "" }}
  {% endif %}
{% endfor %}

<footer>{{ footer_items|join(" &middot;&nbsp;") }}</footer>
