{% if show_sources %}
{% set sources = [] %}
{% if OUTPUT_SOURCES and ARTICLE_SOURCE_URL %}
{{ sources.append((SITEURL + "/" + ARTICLE_SOURCE_URL.format(slug=article.slug, date=article.date, lang=article.lang, author=article.author, category=article.category, OUTPUT_SOURCES_EXTENSION=OUTPUT_SOURCES_EXTENSION), "Text", "Source text for this article")) or "" }}
{% endif %}
{% if GITHUB_REPO_URL and DISPLAY_GITHUB_ARTICLE_SOURCE_LINKS %}
{{ sources.append((GITHUB_REPO_URL + "/blob/main/content/" + article.relative_source_path + "?plain=1", "GitHub", "GitHub source for this article")) or "" }}
{% endif %}
{% for url, text, alt in sources %}
  {% if loop.first %}&middot;&nbsp;{% endif %}<a alt="{{ alt }}" title="{{ alt }}" href="{{ url }}">{{ text }}</a>{% if not loop.last %}, {% endif %}
{% endfor %}
{% endif %}