:root {
  --ok-color-fg: #374151;
}
nav {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  column-gap: var(--ok-line-height);
  display: flex;
  margin-bottom: calc(4 * var(--ok-line-height));
  max-width: 50rem;
  overflow-x: auto;
  padding-bottom: calc(var(--ok-line-height) - 1px);
  padding-left: calc(2 * var(--ok-line-height));
  padding-right: calc(2 * var(--ok-line-height));
  padding-top: var(--ok-line-height);
  text-transform: lowercase;
}
nav > * {
  flex-shrink: 0;
}
nav .space {
  margin-left: auto;
}
nav a {
  color: inherit;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav img {
  height: var(--ok-line-height);
  margin: 0;
  width: auto;
}
nav,
main {
  margin-left: auto;
  margin-right: auto;
}
.bio {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: calc(5 * var(--ok-line-height));
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
  row-gap: var(--ok-line-height);
  text-align: center;
}
.bio > * {
  margin: 0;
  padding: 0;
}
.bio > img {
  border-radius: 100%;
  border: none;
  height: calc(3 * var(--ok-line-height));
  width: calc(3 * var(--ok-line-height));
}
.bio,
main {
  padding-left: calc(0.5 * var(--ok-line-height));
  padding-right: calc(0.5 * var(--ok-line-height));
}
main {
  max-width: 40rem;
}
main h1:first-of-type {
  padding-top: 0;
}
.tagline {
  margin-top: calc(-2 * var(--ok-line-height));
}
.articles {
  margin-bottom: var(--ok-line-height);
  margin-top: var(--ok-line-height);
}
.articles a {
  color: inherit;
  text-decoration: none;
}
.pagination {
  color: var(--ok-color-fg);
  display: flex;
  justify-content: space-between;
  margin-top: calc(2 * var(--ok-line-height));
}
.pagination :is(a[rel="prev"], a[rel="next"]) {
  text-decoration: none;
}
.pagination a[rel="next"] {
  margin-left: auto;
}
nav,
.articles td {
  border-color: #ececec;
}
@media (max-width: 50rem) {
  nav {
    padding-bottom: calc(0.5 * var(--ok-line-height) - 1px);
    padding-left: calc(0.5 * var(--ok-line-height));
    padding-right: calc(0.5 * var(--ok-line-height));
    padding-top: calc(0.5 * var(--ok-line-height));
  }
  .bio {
    margin-bottom: calc(2 * var(--ok-line-height));
  }
}
