:root {
  --sidecar-navbar-border: 1px solid var(--ok-color-border);
  --content-width: 40rem;
}
body {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(0.5 * var(--ok-line-height));
  padding-right: calc(0.5 * var(--ok-line-height));
}
.navbar {
  margin-top: calc(2 * var(--ok-line-height));
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: calc(2 * var(--ok-line-height));
}
.navbar ul {
  padding-bottom: var(--ok-line-height);
  border-bottom: var(--sidecar-navbar-border);
}
.navbar li {
  display: inline;
  margin-left: calc(0.5 * var(--ok-line-height));
  padding-inline-start: 0;
}
.navbar li:first-child {
  margin-left: 0;
}
.navbar a {
  color: inherit;
  text-decoration: none;
  border-radius: var(--ok-border-radius);
  /* Apply padding to all nav menu links (not just current and hovered ones)
   * so that the widths of links don't change and push following links around
   * when current/hovered. */
  padding-left: 5px;
  padding-right: 5px;
}
.navbar a[aria-current="page"],
.navbar a:hover {
  background-color: var(--ok-color-highlight-bg);
}
.article__hgroup a {
  color: inherit;
  text-decoration: none;
}
.article__hgroup a:hover {
  text-decoration: underline;
}
.article__heading,
.page__heading {
  padding-top: 0;
}
.article--summary .article__heading {
  padding-bottom: 0;
}
.article__tagline {
  margin-top: calc(0.25 * var(--ok-line-height));
  margin-bottom: calc(0.75 * var(--ok-line-height));
}
.article__tagline {
  margin-top: 0;
}
.article__tagline a {
  color: inherit;
  text-decoration: none;
}
.article--archives .article__heading {
  font-weight: normal;
}
.article--summary:not(:last-child) {
  margin-bottom: calc(2 * var(--ok-line-height));
}
.pagination {
  margin-bottom: var(--ok-line-height);
}
.pagination__prev {
  float: left;
}
.pagination__next {
  float: right;
}
.pagination a {
  color: inherit;
  text-decoration: none;
}
