:root {
  --sidecar-sidebar-border: 1px solid #eee;
}
body {
  display: grid;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  grid-template-columns: 10rem minmax(auto, 40rem);
  grid-template-rows: auto;
  grid-template-areas:
    "nav content"
    "footer footer";
}
#nav,
#content {
  margin-top: calc(2 * var(--oatcake-body-line-height));
}
#nav {
  grid-area: nav;
  text-align: right;
}
#nav a {
  color: inherit;
  text-decoration: none;
}
#menu {
  margin-bottom: 0;
  padding-right: 2rem;
  margin-right: 2rem;
  border-right: var(--sidecar-sidebar-border);
}
#menu > li {
  list-style-type: none;
}
#content {
  grid-area: content;
}
#content > *:first-child {
  margin-top: 0;
  padding-top: 0;
}
.article-footer {
  margin-bottom: var(--oatcake-body-line-height);
}
.article-footer a {
  text-decoration: none;
}
.prev,
.next {
  color: inherit;
  text-decoration: none;
}
.prev {
  float: left;
}
.next {
  float: right;
}
#footer {
  grid-area: footer;
  text-align: center;
  margin-top: calc(3 * var(--oatcake-body-line-height));
}
@media screen and (max-width: 52rem){
  body {
    grid-template-columns: 100%;
    grid-template-areas:
      "nav"
      "content"
      "footer"
  }
  #content {
    margin-top: var(--oatcake-body-line-height);
  }
  #nav {
    text-align: left;
    overflow-x: scroll;
    white-space: nowrap;
  }
  #menu {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
    padding-bottom: var(--oatcake-body-line-height);
    margin-bottom: var(--oatcake-body-line-height);
    border-bottom: var(--sidecar-sidebar-border);
  }
  #menu > li {
    display: inline;
    margin-left: 1rem;
    padding-inline-start: 0;
  }
  #menu > li:first-child {
    margin-left: 0;
  }
}
