:root {
  --ok-color-fg: #374151;
}
nav {
  padding-left: calc(2 * var(--ok-line-height));
  padding-right: calc(2 * var(--ok-line-height));
}
nav,
main {
  margin-left: auto;
  margin-right: auto;
}
nav {
  padding-top: var(--ok-line-height);
  padding-bottom: calc(var(--ok-line-height) - 1px);
  margin-bottom: calc(2 * var(--ok-line-height));
  border-bottom: 1px solid #ececec;
  max-width: 50rem;
  display: flex;
  column-gap: var(--ok-line-height);
  overflow-x: auto;
  text-transform: lowercase;
}
@media (max-width: 50rem) {
  nav {
    margin-bottom: var(--ok-line-height);
    padding-left: calc(0.5 * var(--ok-line-height));
    padding-right: calc(0.5 * var(--ok-line-height));
  }
}
nav > * {
  flex-shrink: 0;
}
nav .space {
  margin-left: auto;
}
nav a {
  color: inherit;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav img {
  height: var(--ok-line-height);
  width: auto;
  margin: 0;
}
main {
  max-width: 40rem;
  padding-left: calc(0.5 * var(--ok-line-height));
  padding-right: calc(0.5 * var(--ok-line-height));
}
article {
  margin-bottom: var(--ok-line-height);
}
article footer {
  margin: 0;
}
article h1:first-of-type a {
  color: inherit;
}
.archives :is(article, h2, footer) {
  display: inline;
  margin: 0;
  padding: 0;
}
.archives h2 {
  font-size: inherit;
  font-weight: inherit;
}
main > footer {
  margin-top: calc(2 * var(--ok-line-height));
  margin-bottom: var(--ok-line-height);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
