body {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(0.5 * var(--ok-line-height));
  padding-right: calc(0.5 * var(--ok-line-height));
}
nav {
  margin-top: var(--ok-line-height);
  padding-bottom: calc(var(--ok-line-height) - 1px);
  border-bottom: 1px solid var(--ok-color-border);
  display: flex;
  column-gap: var(--ok-line-height);
  overflow-x: auto;
}
nav > * {
  flex-shrink: 0;
}
nav .space {
  margin-left: auto;
}
nav a {
  color: inherit;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav img {
  height: var(--ok-line-height);
  width: auto;
  margin: 0;
}
article {
  margin-bottom: var(--ok-line-height);
}
article footer {
  margin: 0;
}
article h1:first-of-type a {
  color: inherit;
}
.archives h2 {
  font-size: inherit;
  font-weight: normal;
  padding: 0;
}
.archives h2 a {
  color: inherit;
  text-decoration: none;
}
main > footer {
  margin-top: calc(2 * var(--ok-line-height));
  margin-bottom: var(--ok-line-height);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
