:root {
  --ok-color-fg: #374151;
}
nav {
  padding-left: calc(2 * var(--ok-line-height));
  padding-right: calc(2 * var(--ok-line-height));
  padding-top: var(--ok-line-height);
  padding-bottom: calc(var(--ok-line-height) - 1px);
  margin-bottom: calc(2 * var(--ok-line-height));
  border-bottom-width: 1px;
  border-bottom-style: solid;
  max-width: 50rem;
  display: flex;
  column-gap: var(--ok-line-height);
  overflow-x: auto;
  text-transform: lowercase;
}
@media (max-width: 50rem) {
  nav {
    margin-bottom: var(--ok-line-height);
    padding-left: calc(0.5 * var(--ok-line-height));
    padding-right: calc(0.5 * var(--ok-line-height));
  }
}
nav > * {
  flex-shrink: 0;
}
nav .space {
  margin-left: auto;
}
nav a {
  color: inherit;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav img {
  height: var(--ok-line-height);
  width: auto;
  margin: 0;
}
nav,
main {
  margin-left: auto;
  margin-right: auto;
}
main {
  max-width: 40rem;
  padding-left: calc(0.5 * var(--ok-line-height));
  padding-right: calc(0.5 * var(--ok-line-height));
}
.articles {
  margin-bottom: var(--ok-line-height);
  margin-top: var(--ok-line-height);
}
.articles a {
  color: inherit;
  text-decoration: none;
}
footer {
  margin-top: calc(2 * var(--ok-line-height));
  display: flex;
  justify-content: space-between;
}
footer a[rel="prev"],
footer a[rel="next"] {
  text-decoration: none;
}
footer a[rel="next"] {
  margin-left: auto;
}
nav,
.articles td {
  border-color: #ececec;
}
