{% if article_page %}
<article id="content">
  <hgroup>
    <h1>{{ article.title }}</h1>
{% else %}
<article>
  <hgroup>
    <h1>
      {% include "includes/article_permalink.html" %}
    </h1>
{% endif %}
    <p class="secondary">
      {% include "includes/article_time.html" %}
      {% if article.tags %}
      &middot;
      {% for tag in article.tags %}
      <a class="nowrap" {% if article_page %}rel="tag"{% endif %} href="{{ SITEURL }}/{{ tag.url }}" title="All posts tagged &lsquo;{{ tag|striptags }}&rsquo;">{{ tag }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
      {% endif %}
    </p>
    {% if article.metadata.subheading %}
    {% if "subheading" in FORMATTED_FIELDS %}
    <div class="lead">{{ article.metadata.subheading }}</div>
    {% else %}
    <p class="lead">{{ article.metadata.subheading|join(" ") }}</div>
    {% endif %}
    {% endif %}
  </hgroup>
  {{ article.content }}
</article>