{% if SIDECAR_FOOTER is not defined %}
  {% set SIDECAR_FOOTER = ["SOURCE", "GITHUB"] %}
{% endif %}

{% with %}
  {% set footer_items = [] %}

  {% for item in SIDECAR_FOOTER %}
    {% if item == "SOURCE" %}
      {% if article and OUTPUT_SOURCES and ARTICLE_SOURCE_URL %}
        {% set footer_item %}<a rel="alternate" type="text/plain" href="{{ SITEURL }}/{{ ARTICLE_SOURCE_URL.format(slug=article.slug, date=article.date, lang=article.lang, author=article.author, category=article.category, OUTPUT_SOURCES_EXTENSION=OUTPUT_SOURCES_EXTENSION)}}" title="Plain text version of &lsquo;{{ article.title|striptags }}&rsquo;">txt</a>{% endset %}
        {{ footer_items.append(footer_item) or "" }}
      {% endif %}
    {% elif item == "GITHUB" %}
      {% if article and GITHUB_REPO_URL %}
        {% set footer_item %}<a rel="alternate" href="{{ GITHUB_REPO_URL }}/blob/main/content/{{ article.relative_source_path }}?plain=1" title="GitHub source for &lsquo;{{ article.title|striptags }}&rsquo;">GitHub</a>{% endset %}
        {{ footer_items.append(footer_item) or "" }}
      {% endif %}
    {% else %}
      {{ footer_items.append(item) or "" }}
    {% endif %}
  {% endfor %}

  {% if footer_items %}
    <footer id="footer" class="site-footer secondary">
      {{ footer_items|join(" &middot;&nbsp;") }}
    </footer>
  {% endif %}
{% endwith %}
