{% if SIDECAR_TAGLINE is not defined %}
  {% set SIDECAR_TAGLINE = ["AUTHORS", "TIME", "SOURCE", "TAGS"] %}
{% endif %}

{% set footer_items = [] %}

{% for item in SIDECAR_TAGLINE %}
  {% if item == "AUTHORS" %}
    {% set footer_item %}{% include "includes/tagline/authors.html" %}{% endset %}
    {% if footer_item %}
      {{ footer_items.append(footer_item) or "" }}
    {% endif %}
  {% elif item == "TIME" %}
    {% if article.date is defined %}
      {% set footer_item %}{% with show_modified_time = true %}{% include "includes/tagline/time.html" %}{% endwith %}{% endset %}
    {% endif %}
    {% if footer_item %}
      {{ footer_items.append(footer_item) or "" }}
    {% endif %}
  {% elif item == "CATEGORY" %}
    {% set footer_item %}{% include "includes/tagline/category.html" %}{% endset %}
    {% if footer_item %}
      {{ footer_items.append(footer_item) or "" }}
    {% endif %}
  {% elif item == "TAGS" %}
    {% set footer_item %}{% include "includes/tagline/tags.html" %}{% endset %}
    {% if footer_item %}
      {{ footer_items.append(footer_item) or "" }}
    {% endif %}
  {% elif item == "SOURCE" %}
    {% set footer_item %}{% include "includes/tagline/source.html" %}{% endset %}
    {% if footer_item %}
      {{ footer_items.append(footer_item) or "" }}
    {% endif %}
  {% else %}
    {{ footer_items.append(item) or "" }}
  {% endif %}
{% endfor %}

{% if footer_items %}
  <footer class="tagline">{{ footer_items|join('<span style="padding-left:.4em; padding-right:.4em;">&middot;</span>') }}</footer>
{% endif %}
