{% extends "base.html" %}

{% block title %}{{ super() }} - Archives{% endblock %}

{% block content_title %}Archives{% endblock %}

{% block content %}
  <ol reversed class="archives">
    {% for article in articles %}
      <li>
        {% block article scoped %}
          <article>
            {% set title %}
              {% with link_text = article.title %}
                {% include "includes/article/permalink.html" %}
              {% endwith %}
            {% endset %}
            <h2 class="noanchor">{{ title }}</h2>
            <footer>
              <small>
                {% include "includes/article/time.html" %}
              </small>
            </footer>
          </article>
        {% endblock %}
      </li>
    {% endfor %}
  </ol>
{% endblock %}
