{% extends "index.html" %}

{% set bio = false %}
{% set articles_caption = "All Posts" %}

{% block title %}{{ super() }} - Archives{% endblock %}

{% block content_title %}Archives{% endblock %}

{% block content %}
  {% if SIDECAR_SEARCH != false %}
    <form method="get" action="https://duckduckgo.com/" class="search">
      <input type="hidden" name="sites" value="{{ SITEURL }}" />
      <input type="search" name="q" placeholder="Full-text search&hellip;" aria-label="Full-text search" />
    </form>
  {% endif %}
  {{ super() }}
{% endblock %}
