{% extends "base.html" %}

{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ super() }} - {{ article.title|striptags  }}{% endblock title %}

{% block head %}
  {{ super() }}
  {% if OUTPUT_SOURCES %}
    <link rel="alternate" type="text/plain" href="{% include 'includes/article/source_url' %}">
  {% endif %}
{% endblock %}

{% set anchors = true %}

{% block content %}
  {% block article scoped %}
    {% with context = "article" %}
      {% include "includes/article/tagline.html" %}

      {% set heading %}
        <h1 class="noanchor">{{ article.title }}</h1>
      {% endset %}

      {% if article.metadata.subheading %}
        <hgroup>
          {{ heading }}
          {% if "subheading" in FORMATTED_FIELDS %}
            {{ article.metadata.subheading }}
          {% else %}
            <p>{{ article.metadata.subheading|join(" ") }}</p>
          {% endif %}
        </hgroup>
      {% else %}
        {{ heading }}
      {% endif %}

      {{ article.content }}
    {% endwith %}
  {% endblock %}
{% endblock %}
