{% extends "base.html" %}

{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ super() }} - {{ article.title|striptags  }}{% endblock title %}

{% if source_url is not defined %}
  {% set source_url %}{{ SITEURL }}/{{ (ARTICLE_SOURCE_URL or '{article.slug}{OUTPUT_SOURCES_EXTENSION}').format(article=article, OUTPUT_SOURCES_EXTENSION=OUTPUT_SOURCES_EXTENSION) }}{% endset %}
{% endif %}

{% block head %}
  {{ super() }}
  {% if OUTPUT_SOURCES %}
    <link rel="alternate" type="text/plain" href="{{ source_url }}">
  {% endif %}
{% endblock %}

{% set anchors = true %}

{% block content %}
  {% include "tagline.html" %}

  {% set heading %}
    <h1 class="noanchor">{{ article.title }}</h1>
  {% endset %}

  {% set ns = namespace(subheading_fieldnames=[]) %}
  {% for fieldname in ["summary", "subheading", "subtitle"] %}
    {% if article.metadata[fieldname] %}
      {% set ns.subheading_fieldnames = ns.subheading_fieldnames + [fieldname] %}
    {% endif %}
  {% endfor %}

  {% if ns.subheading_fieldnames %}
    <hgroup>
      {{ heading }}
      {% for fieldname in ns.subheading_fieldnames %}
        {% if fieldname in FORMATTED_FIELDS %}
          {{ article.metadata[fieldname] }}
        {% else %}
          <p>{{ article.metadata[fieldname]|join("") }}</p>
        {% endif %}
      {% endfor %}
    </hgroup>
  {% else %}
    {{ heading }}
  {% endif %}

  {{ article.content }}
{% endblock %}
