{% extends "base.html" %}

{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ super() }} - {{ article.title|striptags  }}{% endblock title %}

{% block head %}
  {{ super() }}
  {% if OUTPUT_SOURCES %}
    <link rel="alternate" type="text/plain" href="{% include 'includes/article/source_url' %}">
  {% endif %}
{% endblock %}

{% set anchors = true %}

{% block content %}
  <h1 class="article__heading noanchor">{{ article.title }}</h1>

  <div class="article__content">{{ article.content }}</div>

  <footer>{% include "includes/article/tagline.html" %}</footer>
{% endblock %}
