<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}{{ SITENAME|striptags }}{% endblock %}</title>
      {% if GITHUB_URL %}<link rel="preload" as="image" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/github-mark.svg" />{% endif %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/oatcake@1.0.0-rc.15">
      <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/sidecar.css">
      <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygments.css">
      {% if STYLESHEET_URL %}<link rel="stylesheet" href="{{ STYLESHEET_URL }}" />{% endif %}
      {% if FEED_ALL_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME|striptags }} Atom (all languages)">
      {% endif %}
      {% if FEED_ALL_RSS %}
      <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME|striptags }} RSS (all languages)">
      {% endif %}
      {% if FEED_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME|striptags }} Atom ({{ DEFAULT_LANG }})">
      {% endif %}
      {% if FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME|striptags }} RSS ({{ DEFAULT_LANG }})">
      {% endif %}
      {% block extra_head %}{% endblock %}
    {% endblock head %}
  </head>
  <body>
    <nav>
      {% if SIDECAR_NAVBAR is not defined %}
        {% set SIDECAR_NAVBAR = ["HOME", "MENUITEMS"] %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {{ SIDECAR_NAVBAR.append("PAGES") or "" }}
        {% endif %}
        {{ SIDECAR_NAVBAR.extend(["CATEGORIES", "TAGS", "AUTHORS", "ARCHIVES"]) or "" }}
      {% endif %}

      {% for item in SIDECAR_NAVBAR %}
        {% if item == "HOME" %}
          <a style="font-weight: bold;" href="{{ SITEURL }}">{{ SITENAME }}</a>
        {% elif item == "MENUITEMS" %}
          {% for title, url in MENUITEMS %}
            <a href="{{ url }}">{{ title }}</a>
          {% endfor %}
        {% elif item == "PAGES" %}
          {% for page_ in pages %}
            <a href="{{ SITEURL }}/{{ page_.url }}">{{ page_.title }}</a>
          {% endfor %}
        {% elif item == "CATEGORIES" %}
          {% if CATEGORIES_URL %}<a href="{{ SITEURL }}/{{ CATEGORIES_URL }}">Categories</a>{% endif %}
        {% elif item == "TAGS" %}
          {% if TAGS_URL %}<a href="{{ SITEURL }}/{{ TAGS_URL }}">Tags</a>{% endif %}
        {% elif item == "AUTHORS" %}
          {% if AUTHORS_URL %}<a href="{{ SITEURL }}/{{ AUTHORS_URL }}">Authors</a>{% endif %}
        {% elif item == "ARCHIVES" %}
          {% if ARCHIVES_URL %}<a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Archives</a>{% endif %}
        {% elif item == "SPACE" %}
          <div class="space"></div>
        {% else %}
          {{ item.format(SITEURL=SITEURL) }}
        {% endif %}
      {% endfor %}
      {% if GITHUB_URL %}
        <a href="{{ GITHUB_URL }}" aria-label="Fork me on GitHub">
          <img style="border: none;" width="98" height="96" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/github-mark.svg" alt="Fork me on GitHub" title="Fork me on GitHub">
        </a>
      {% endif %}
    </nav>

    <main>
      {% with %}
        {% set content_title %}{% block content_title %}{% endblock %}{% endset %}
        {% include "includes/content_title.html" %}
      {% endwith %}

      {% block content %}{% endblock %}
    </main>

    {% if anchors %}
    <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.27.4/tocbot.min.js"></script>
    <script>
      anchors.options.icon = '#';
      anchors.add('h1:not(.noanchor), h2:not(.noanchor), h3:not(.noanchor), h4:not(.noanchor), h5:not(.noanchor), h6:not(.noanchor)');
      tocbot.init({
        tocSelector: '.toc',
        contentSelector: 'body',
        headingSelector: 'h1, h2, h3, h4, h5, h6',
        ignoreSelector: '.notoc, .noanchor',
        orderedList: false,
        scrollSmooth: false,
      });
    </script>
    {% endif %}

    {% include 'includes/analytics.html' %}
  </body>
</html>
