{% extends "base.html" %}

{% if bio is not defined %}{% set bio = true %}{% endif %}

{% block content %}
  {% if articles_page %}
    {% set articles = articles_page.object_list %}
  {% endif %}

  <table class="articles">
    <caption style="font-weight: bold;">{{ articles_caption or "Posts" }}</caption>
    <tbody>
      {% for article in articles %}
        <tr>
          <td style="font-weight: bold;">{% include "includes/tagline/time.html" %}</td>
          <td><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permanent link to &lsquo;{{ article.title|striptags }}&rsquo;">{{ article.title }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if articles_page is defined and articles_page.has_other_pages() %}
      {% include 'pagination.html' %}
  {% endif %}
{% endblock %}
