{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - {{ page.title|striptags }}{% endblock title %}

{% block head %}
  {{ super() }}
  {% if OUTPUT_SOURCES and page %}<link rel="alternate" type="text/plain" href="{% include 'includes/page/source_url' %}">{% endif %}
{% endblock head %}

{% set anchors = true %}

{% block content %}
  <main class="page page--static">
    {% with content_title=page.title_ or page.title %}
      {% include "includes/content_title.html" %}
    {% endwith %}

    <div class="page__content">
      {{ page.content }}
    </div>
  </main>
{% endblock content %}
