{% extends "article.html" %}

{% set article = page %}

{% set source_url %}{{ SITEURL }}/{{ (PAGE_SOURCE_URL or 'pages/{page.slug}{OUTPUT_SOURCES_EXTENSION}').format(page=page, OUTPUT_SOURCES_EXTENSION=OUTPUT_SOURCES_EXTENSION) }}{% endset %}

{% block tagline %}
  {% with tagline_items=SIDECAR_PAGE_TAGLINE_ITEMS, default_tagline_items=[] %}
    {% include "tagline.html" %}
  {% endwith %}
{% endblock %}

{% block footer %}
  {% with tagline_items=SIDECAR_PAGE_FOOTER_ITEMS, default_tagline_items=["TIME"] %}
    {% include "tagline.html" %}
  {% endwith %}
{% endblock %}
