{% if tagline_items is not defined %}
  {% set tagline_items = default_tagline_items %}
{% endif %}

{% set footer_items = [] %}

{% for item in tagline_items %}
  {% if item == "AUTHORS" %}
    {% set footer_item %}{% include "tagline/authors.html" %}{% endset %}
    {% if footer_item %}
      {{ footer_items.append(footer_item) or "" }}
    {% endif %}
  {% elif item == "TIME" %}
    {% set footer_item %}{% with show_modified_time = true %}{% include "tagline/time.html" %}{% endwith %}{% endset %}
    {% if footer_item %}
      {{ footer_items.append(footer_item) or "" }}
    {% endif %}
  {% elif item == "CATEGORY" %}
    {% set footer_item %}{% include "tagline/category.html" %}{% endset %}
    {% if footer_item %}
      {{ footer_items.append(footer_item) or "" }}
    {% endif %}
  {% elif item == "TAGS" %}
    {% set footer_item %}{% include "tagline/tags.html" %}{% endset %}
    {% if footer_item %}
      {{ footer_items.append(footer_item) or "" }}
    {% endif %}
  {% elif item == "SOURCE" %}
    {% set footer_item %}{% include "tagline/source.html" %}{% endset %}
    {% if footer_item %}
      {{ footer_items.append(footer_item) or "" }}
    {% endif %}
  {% else %}
    {{ footer_items.append(item) or "" }}
  {% endif %}
{% endfor %}

{% if footer_items %}
  <footer>{{ footer_items|join('<span style="padding-left:.4em; padding-right:.4em;">&middot;</span>') }}</footer>
{% endif %}
